body {
    background-color: black;
}

.section {
    background-color: #fce803;
    border: 1px solid #000;
    margin: 0.5%;
    padding: 0.5%;
}

.main-section {
    float: left;
    width: 60%;
}

.scoring-section {
    float: right;
    width: 35%;
}

.container-section {
    display: flex;
    align-items: center; /* Optional: align items vertically in the center */
    border: 1px solid #000; /* Optional: Add borders for visibility */
    margin: 5px; /* Optional: Add margin for spacing between elements */
    padding: 5px; /* Optional: Add padding for spacing within elements */
}

.container {
    width: 100px;
    height: 100px;
    border: 2px dashed #aaa;
    margin: 10px;
    display: inline-block;
    background-color: #ccc;
}

.dice-img {
    width: 100px;
    height: 100px;
}

.response-label {
    font-size: 20px;
    font-weight: bold;
    margin: 5px;
}