<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kaszubskie Kości Równości</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <div class="section top-section" >
        <h1>Kaszubskie Kości Równości</h1>
        Antoni Abraham wraz ze swoim wiernym puckim 13. Legionem stoi nad brzegiem Raduni.
        Wie, że wystarczy jeden rozkaz aby na wieki zmienić losy Kaszub. <br>
        W Tobie leży ostatnia szansa na zażegnanie konfliktu. Czy uda Ci się zrównać kości Północy i Południa?
    </div>

    <div class="section main-section">
        <h2>Kości zostały rzucone...</h2>
        <div class="response-section">
            <label class="response-label" id="response">TESTEST</label>
        </div>
        <button class="button reset-dices-button" onclick="resetDices()">Wróć kości</button>
        <button class="button forfeit-button" onclick="forfeit()">Pora się poddać</button>
        <div class="container-section source-container-section">
            <div class="container source-container" id="source-container0">
                <img class="dice-img" id="image{i}" src="{{ url_for('static', filename=dice_img) }}" draggable="true" ondragstart="dragStart(event)">
            </div>
            <div class="container source-container" id="source-container1"></div>
            <div class="container source-container" id="source-container2"></div>
            <div class="container source-container" id="source-container3"></div>
            <div class="container source-container" id="source-container4"></div>
        </div>

        <h2>Kaszuby Północne:</h2>
        <div class="container-section drop-container-section" data-group="0">
            <div class="container drop-container" id="drop-container0-0" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
            <div><select class="operation-select" id="operation-0-0" onchange="updateOperations(0, 0)">
                <option value="+">+</option>
                <option value="-">-</option>
                <option value="x">x</option>
                <option value="÷">/</option>
            </select></div>
            <div class="container drop-container" id="drop-container0-1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
            <div><select class="operation-select" id="operation-0-1" onchange="updateOperations(0, 0)">
                <option value="+">+</option>
                <option value="-">-</option>
                <option value="x">x</option>
                <option value="÷">/</option>
            </select></div>
            <div class="container drop-container" id="drop-container0-2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
            <div class="group-result" id="result-group0">=0</div>
        </div>

        <h2>Kaszuby Południowe:</h2>
        <div class="container-section drop-container-section" data-group="0">
            <div class="container drop-container" id="drop-container1-0" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
            <div><select class="operation-select" id="operation-1-0" onchange="updateOperations(0, 0)">
                <option value="+">+</option>
                <option value="-">-</option>
                <option value="x">x</option>
                <option value="÷">/</option>
            </select></div>
            <div class="container drop-container" id="drop-container1-1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
            <div><select class="operation-select" id="operation-1-1" onchange="updateOperations(0, 0)">
                <option value="+">+</option>
                <option value="-">-</option>
                <option value="x">x</option>
                <option value="÷">/</option>
            </select></div>
            <div class="container drop-container" id="drop-container1-2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
            <div class="group-result" id="result-group1">=0</div>
        </div>

        <div class="solution-section">
            <button class="solution-button" id="submit-solution" onclick="submitSolution()">Zaproponuj rozwiązanie konfliktu</button>

        </div>
    </div>

    <div class="section scoring-section">
    <form id="player-name-form">
        <label for="player_name_inp">Twoje imię:</label>
        <input type="text" id="player_name_inp" name="player-name" required value={{player_name}}>
        <button type="button" id="player-name-btn" onclick="savePlayerName()">Zapamiętajta</button>
    </form>

    <h3>Rezultaty:</h3>
    {{scores_html | safe}}

    </div>

</body>
</html>
